{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main class="main">
        <div class="top">
            <div class="nav" id="nav">
                <i class="fa fa-bars" id="menu-toggle" aria-hidden="true"></i>
                <ul class="links desktop-links">
                <li><a href="#">Más productos</a></li>
                <li><a href="#">Precios más bajos</a></li>
                <li><a href="#">Mejores reseñas</a></li>
                <li><a href="#">Mayor cantidad de máquinas</a></li>
                <li><a href="#">Ofertas</a></li>
                </ul>
        </div>
        <div class="signup">
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Ver perfil</a></li>
                <li>
                    <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">Cerrar sesión</a>
                    <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
                    {% csrf_token %}    
                    </form>
                </li>
                {% else %}
                <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                <li><a href="{% url 'register' %}">Registrarse</a></li>
                {% endif %}
            </ul>
            </div>
        
        <div class="links-div" id="mobile-menu">
                <ul class="links">
                <li><a href="#">Más productos</a></li>
                <li><a href="#">Precios más bajos</a></li>
                <li><a href="#">Mejores reseñas</a></li>
                <li><a href="#">Mayor cantidad de máquinas</a></li>
                <li><a href="#">Ofertas</a></li>
                </ul>
            </div>
        </div>

        <div class="center">
            <div>
                <h1 class="h1">GMSearch</h1>
                {% if user.is_authenticated %}
                <p>Bienvenido {{usuario.nombre}}, encuentra tu nuevo gimnasio </p>
                {% else %}
                <p>El mejor sitio para buscar gimnasios</p>
                {% endif %}
            </div>
            <form method="get" action="{% url 'buscar_gimnasios' %}">
                <input type="text" class="search" name="q" placeholder="Encuentra el gym ideal para ti...">
                <button type="submit" class="search-button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>

        </div>

    </main>

    <script src="{% static 'core/js/main.js' %}"></script>
</body>
</html>
