{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Datos de usuario</title>
  <link rel="stylesheet" href="{% static 'core/css/post_register.css' %}">
</head>
<body>
  <div class="main">
    <div class="center">
      <h1>Bienvenido Usuario</h1>
      <h2>Por favor, rellene los siguientes datos para completar su registro a nuestra plataforma!</h2>
      <form method="post"action="{% url 'profile' %}">
            {% csrf_token %}
            <div class="User">
                <input type="text" required>
                <label>Nombres</label>
            </div>

            <div class="User">
                <input type="text" required>
                <label>Apellidos</label>
            </div>

            <div class="User">
                <input type="text" required>
                <label>Numero de telefono</label>
            </div>

            <div class="User">
                <input type="text">
                <label>Estatura (opcional)</label>
            </div>

            <div class="User">
                <input type="text">
                <label>Peso(opcional)</label>
            </div>

            <div class="User">
                <input type="text" required>
                <label>Sexo</label>
            </div>

            <input type="submit" value="Continuar">
    </form>
    </div>
  </div>
</body>
</html>