{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'core/css/profile.css' %}">

</head>
<body>
    
    <article class = "card">
        <h1>Perfil de {{ usuario.nombre }}</h1>
            <header class = "card_header">
                {% if usuario.foto_perfil %}
                    <img src="{{ usuario.foto_perfil.url }}" alt="Foto de perfil" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover; margin: 0 auto; display: block; box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);">
                {% else %}
                    <div class="profile_pic"></div>
                {% endif %}
            </header>
            <a href="{% url 'edit_profile' %}" style="text-decoration: none;">
                <button type="button">editar perfil</button>
            </a>
            <section class="card_body">
                <p class="user">
                    {{ usuario.nombre }}
                    {% if usuario.edad %}
                        <span class="age">{{ usuario.edad }} años</span>
                    {% endif %}
                    </p>
                    <p class="email">Email: {{ usuario.email }}</p>
                    <p class="height">Altura: {{ usuario.estatura }} cm</p>
                    <p class="weight">peso: {{ usuario.peso }} kg</p>
                    <p class="sex">sexo: {{ usuario.sexo }}</p>
            </section>

            <form method="post" action="{% url 'index' %}">
                {% csrf_token %}
                <input type="submit" value = "Volver">
            </form>
            
    </article>
</body>
</html>