{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enlace Inválido</title>
    <link rel="stylesheet" href="{% static 'core/css/register.css' %}">
</head>
<body>
    <div class="main">
        <div class="center">
            <h1>Enlace Inválido</h1>
            <p>El enlace de verificación no es válido.</p>
            <p>Por favor, intenta registrarte nuevamente.</p>
            <div class="iniciar">
                <a href="{% url 'register' %}">Volver al registro</a>
            </div>
        </div>
    </div>
</body>
</html> 